@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@section Estilos {
    <link href="~/lib/datatables/css/datatables.datatables.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2-bootstrap-5-theme.min.css" rel="stylesheet" />
    <link href="~/lib/timepicker/css/jquery.timepicker.min.css" rel="stylesheet" />
    <link href="~/lib/datatables/fixedcolumns/css/fixedcolumns.datatables.css" rel="stylesheet" />
    <link href="~/lib/jquery-ui/jquery-ui.css" rel="stylesheet" />
}
<div class="card border-info">
    <div class="card-header bg-info text-white">
        <h5>Viajes</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-outline-success" id="btnNuevo">
                    <i class="fa-solid fa-plus"></i>
                    Crear nuevo
                </button>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <table class="display" id="tbData" cellspacing="0" >
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="mdData" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-secondary text-white">
                <h5 class="modal-title" id="staticBackdropLabel">Viaje</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="col-form-label">Ruta:</label>
                        <select id="cboRuta" class="form-select data-in" data-width="100%" name="Ruta"></select>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-form-label">Bus:</label>
                        <select id="cboBus" class="form-select data-in" data-width="100%" name="Bus"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="col-form-label">Fecha Salida:</label>
                        <input type="text" class="form-control data-in" id="txtFechaSalida" name="FechaSalida" autocomplete="off">
                    </div>
                    <div class="col-sm-6">
                        <label class="col-form-label">Hora Salida:</label>
                        <input type="text" class="form-control data-in" id="txtHoraSalida" name="HoraSalida" autocomplete="off">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="col-form-label">Fecha Llegada:</label>
                        <input type="text" class="form-control data-in" id="txtFechaLlegada" name="FechaLlegada" autocomplete="off">
                    </div>
                    <div class="col-sm-6">
                        <label class="col-form-label">Hora Llegada(estimada):</label>
                        <input type="text" class="form-control data-in" id="txtHoraLlegada" name="HoraLlegada" autocomplete="off">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="col-form-label">Precio:</label>
                        <input type="number" class="form-control data-in" id="txtPrecio" autocomplete="off" name="Precio" min="0" value="0">
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-circle-xmark"></i> Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnGuardar"><i class="fa-solid fa-floppy-disk"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/datatables/js/moment.min.js"></script>
    <script src="~/lib/datatables/js/datatables.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/timepicker/js/jquery.timepicker.min.js"></script>
    <script src="~/lib/moment/moment.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    <script src="~/lib/jquery-ui/datepicker/language/datepicker-es.js"></script>
    <script src="~/lib/datatables/fixedcolumns/js/datatables.fixedcolumns.js"></script>
    <script src="~/lib/datatables/fixedcolumns/js/fixedcolumns.datatables.js"></script>
    <script src="~/views/viaje.js"></script>
}